@font-face {
    font-family: Comfortaa;
    src: url("assets/Comfortaa/Comfortaa-VariableFont_wght.ttf") ;
}


body{
    background:linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(./assets/bombasdecrema.jpg) no-repeat center fixed;
    background-size: cover;
    margin: auto auto;
    width: 200vh;
    max-width: 1500px;
    display:grid;
    grid-template-rows: 10% 10% auto auto;
    row-gap: 1em;
    font-size: 20px;
    font-family: Comfortaa;
    text-align: center;
    overflow:auto;
    padding: 1em 1em;
}

footer{
    margin: 0px;
    border-radius: 1em;
    padding: 0px;
    width: 90%;
    background: rgba(0, 0, 0, 0.685);    
}

h2{
    font-size: 50px;
    font-family: Comfortaa;
    text-align: center;
    color: rgb(248, 193, 73);
}

.back__contacto{
    background:linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(./assets/bombasdecrema.jpg) no-repeat center fixed;
    background-size: cover;
}
/* .mg__auto{
    margin: auto;
    display:flex;
} */


/* ----------------------------------  MENU  ------------------------------- */

.menu__nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.89);
    border-radius: 1.5em;
}

.menu__nav li{
    display: inline-block;
}

.menu__nav li a{
    margin: 10px;
    padding: 10px;
    display: inline-block;
    color: #fff;

}

.menu__nav li a:hover{
    background: #e97719;
    color: black;
    display: block;
    border-radius: 1.5em;
}


ul{
    text-align: center;
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}



ol{
    text-align: center;
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: rgb(248, 193, 73);
    text-align: center;
    padding: 1.5em 0.8em;
    

}

.menu__nav--foot{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.795);
    border-radius: 1.5em;
}

.menu__nav--foot li{
    display: block;
}

.menu__nav--foot li a{
    margin: 10px;
    padding: 10px;
    display: block;
    color: #fff;

}

.menu__nav--foot li a:hover{
    background: rgb(248, 193, 73);
    border-radius: 1.5em;
    color: black;
    display: block;
}

/* ----------------------------------  MENU  ------------------------------- */



/* ------------------------------  FORMULARIO CONTACTO  ------------------------------- */

.h__center{
    text-align: center;
    color: rgb(248, 193, 73);
}

.form{
    margin: auto;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    border-radius: 1em;
    padding: 1.5em 1em
}

.form__input {
    font-family:inherit ;
    font-size: 20px;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2 em;
}

.form__input--message{
    padding: 1.8em 1em;
    resize: none;
    margin-bottom: .5em ;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__cta {
    font-family:inherit ;
    font-size: .6em;
    background-color: rgb(240, 243, 63);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: 1.2em;
    cursor: pointer;
    font-weight: 400;
}


/* ------------------------------  FORMULARIO CONTACTO  ------------------------------- */

/* ------------------------------  FORMULARIO PRODUCTOS  ------------------------------- */

.grid__container{
    display: grid;
    grid-template-columns: auto;
    background-color: #000000a2;

    margin: 0 auto;
    width: 90%;
    border-radius: 1em;    
    padding: 0em .5em;
}

.art__grid--container{
    display: grid;
    grid-template-columns: 30% auto;
    background-color: #000000ab;

    margin: 10px auto;    
    width: 95%;
    height: 90%;
    border-radius: 1em; 
    align-items: center;
}

.flex__container--product{
    display: grid;

    grid-template-columns: 60% 30% 10%;
    width:90%;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 1.5em .5em;
    
    align-items: center;
    align-content: center;
}

.box__product{
    display: grid;
    
    grid-template-rows: auto auto auto;
    row-gap: 5px;
    background-color: #00000000;
    margin: auto;

    /* flex-direction: column; */
    
    border: 1px solid #f6d46500;
    font-size: 16px;
    color:#e97719;
    padding: 5px auto;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    justify-items: center;
}

.img__product{
    display: grid;
    grid-template-rows: 10% auto;
    background-color: #00000000;
    margin: auto;
    
    
    color: #E9BB19;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.img__product--img{
    width: 85%;
    height: 85%;
    border-radius: 1em;
    border: 1.5px solid #e9a01980;
}

.div__select--product{
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto auto auto;
    background-color: #00000000;
    margin: 0 0;

    
    font-size: 16px;
}

.slector__product{
    width: 80px;
    overflow: hidden;
    font-family: Comfortaa;
}

.input__pedir{
    background-color:#E9BB19 ;
    color: #000000;
    font-family: Comfortaa;
    border-radius: 1em;
    border: .5px solid black;
}

.h2__pro{
    font-size: 16px;
}

.p__product{
    display: grid;
    grid-template-rows: auto;
    background-color: #00000000;
    margin: auto;


    border: 1px solid rgba(0, 0, 0, 0.603);
    border-radius: .5em;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* ------------------------------  FORMULARIO PRODUCTOS  ------------------------------- */

/* -----------------------------------  RECETAS  --------------------------------------- */



.recetas__cont{
    display: grid;
    grid-template-rows:  auto;
    grid-template-columns:auto auto  auto;
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;

    
    border-radius: 1em;
    border: 1px solid black;
    padding: .2em 1em;
    justify-items: center;
    justify-content: center;
    align-content: flex-start;
    row-gap: 2em;
    column-gap: 1em;
    height: 95vh;
    min-height: 500px;

    overflow-x: auto;
    
}

.recetas__cont--art{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    background-color: rgba(0, 0, 0, 0.486);
    margin: .5em 1em;

    height: 90vh;
    max-height: 800px;
    width: 95%;
    max-width: 50vh;
    border-radius: 1em;
    border: 1px solid black;
    overflow:hidden;
    padding: .5em .5em;
    justify-items: center;
    row-gap: auto;
}

.cont__img--img{
    height: 80%;
    width: 55%;
    background-color: #00000000;
    border-radius: 1em;
    border: 3px solid rgba(0, 0, 0, 0.616);
}

.recetas__img{
    height: 100%;
    width: 100%;
    border-radius: 1em;

}

.font__recetas{
    font-family: Comfortaa;
    color: #E9BB19;
    font-size-adjust: inherit;
    background-color: rgba(255, 255, 255, 0);
}
/* -----------------------------------  RECETAS  --------------------------------------- */

/* -----------------------------------  SUCURSALES  --------------------------------------- */
.cont__map--art{
    display: grid;
    grid-template-rows: 95% auto;
    grid-template-columns: auto;

    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 1em;
    margin: auto;
    width: 100vh;
    height: 80vh;
    padding: 1.5em .5em;
    justify-items: center;
    align-content: center;
    align-items: stretch;
}
.cont__map{
    display: grid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1em;
    margin-bottom: 5em;
    width: 100%;
    height: 100%;
}

.map{
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: solid 1px black;
}

.map__input--search{
    border-radius: 1em;
    border: solid 1px black;
    width: 100%;
    height: auto;
}

#search__map{
    font-family: Comfortaa;
    text-align: center;
    text-overflow: ellipsis;
}


/* -----------------------------------  SUCURSALES  --------------------------------------- */

